* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
#main-contend {
    width: 100%;
    height: 600px;
    background-color: azure;
}
#main-contend h2 {
    padding: 16px 0px 0px 44px;
    width: 25%;
    font-family: 'Courier New', Courier, monospace;
}
hr {
  width: 90%;
  margin: auto;
  margin-top: 9px;
}

.header{
    background-color: white;
}
.address-detials {
    /* background-color:  white; */
    width: 200px;
    height: 60px;
    margin: auto;
    margin-top: 1%;
    display: inline-block;
    background-color: red;
}
.address-detials h5 {
    padding: 10px 0 0 10px; 
}
.address-detials p {
    font-size: 12px;
    padding-left: 10px;
}

.contact-detials{
    font-size: 12px;
    display: inline-block;
    background-color: blue;
}

.icon{
    display: inline-block;   
}